<div id="atb">
    <div class="atb_left">
        <ol>
            <li><a href="/blogs">文章</a></li>
            <li>&nbsp;>&nbsp;</li>
            <li><a href="/blog/news">新闻</a></li>
        </ol>
        <h1>Device.js——检测设备平台、操作系统的Javascript 库</h1>
        <ul>
            <li>作者：<a href="/u/digwtx"><span>战三</span></a></li>
            <li class="blank">|</li>
            <li>浏览：<span>75625</span></li>
            <li class="blank">|</li>
            <li>更新：<span>2012-07-23 12:37</span></li>
        </ul>
    </div>
    <div class="atb_right">
        <ul>
            <li>
                <button type="button" class="btn-success">顶</button>
                <strong>2</strong>
            </li>
            <li>
                <button type="button" class="btn-default">踩</button>
                <strong>7</strong>
            </li>
        </ul>
    </div>
</div>